 <form action="check" method="post">
  <input type="checkbox" name="travel">
  Travel and Airline:<br>
  <input type="checkbox" name="shopping">
  Shopping:<br>
  <input type="checkbox" name="fuel">
  Fuel:<br>
  <input type="checkbox" name="cashback">
  Cashback:<br>
  <input type="checkbox" name="fee">
  Low Fee:<br>
  <input type="checkbox" name="lifestyle">
  Lifestyle:<br>
  <br><br>
  <input type="submit" value="Submit">
</form> 