<p id="notice"><%= notice %></p>
<h1>Credit Cards Details</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Card name</th>
      <th>Desciption</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @credit_cards.bank %></td>
      <td><%= @credit_cards.card_name %></td>
      <td><%= @credit_cards.desciption %></td>
    </tr>
   
  </tbody>
</table>

<br>